@page "/"
@inject EntityDataService Data
@using Quepland;
@using static Quepland.Room.Ref;
@using static Quepland.Pet.Ref;

<h1>Hello, Welcome to Quepland!</h1>

@Rooms[Arena].ConstructionLevelRequired
@Pets[scarab].Description
@Followers[4].Description

@functions
{
    RoomContainer Rooms => Data.GetContainer<RoomContainer>();
    PetContainer Pets => Data.GetContainer<PetContainer>();
    FollowerContainer Followers => Data.GetContainer<FollowerContainer>();
}
    
